#content {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    padding: 10px;
    background-color: #727272;
}

nav a{
    text-align: center;
    text-decoration: none;
    color: #a10404;
    padding: 35px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

nav a:hover{
    background-color: #a10404;
    color: #727272;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 300px;
    text-align: center;
    color: #727272;
    opacity: .9;
    font-size: 4em;
    -webkit-text-stroke: 2px black;
}

#hero-img {
    width: 100%;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: 0px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#background {
    background-color: black;
    grid-column: 1/6;
    
}

.rei-home {
    width: 100%;
    grid-column: 1/3;
    
}

.raf-home {
    width: 100%;
    grid-column: 4/6;
}
